body{
    background: #0b0b0b ;
}
.container-content{
    width: 100%;
    max-width: 540px;
    background: #0b0b0b;
    color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 2px 1px 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
}